name: update

on:
    workflow_dispatch:
    schedule:
        - cron: "0 * * * *" # runs every hour

jobs:
    generate_list:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo content
              uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                version: "latest"

            - name: Check lock file consistency
              run: |
                  uv lock --check

            - name: execute py script
              run: uv run update.py

            - name: commit files
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git add -A
                  git diff --name-only --cached --exit-code || ( git commit -am "update blocklist" && git push )
